In [12]:
#Chapter 4 - Shorthand commandline and packages
#1) Use python line continuation
#    backslash -"/"
#    parenthesis - "()"
#    brackets - "[]"
#    braces - "{}"

str1 = "i lob " \
"python"
print(str1)

tot = (10+20+30+ 
        40+50+60)
print(tot)

list1 = [2
         ,3
         ,4]
print(list1)

dict = {"name": "Debashish",
        "Roll":30,
        "Regd": "24E116A30"}
print(dict)

i lob python
210
[2, 3, 4]
{'name': 'Debashish', 'Roll': 30, 'Regd': '24E116A30'}

In [16]:
# 2) Use for loop intellegently
alpha = ("A", "B", "C", "D", "E")
for i in alpha:
    print(i, end=" ")
for i, a in enumerate (alpha):
    print(i,a)

A B C D E 0 A
1 B
2 C
3 D
4 E

In [20]:
# 3) Understand combined operators
nums =[1,2,3]
print("before:", id(nums), nums)
nums+=[4,5]
print("after:", id(nums), nums)

result =""
for i in range(6):
    result+=str(i)
print(result)

before: 2824366602112 [1, 2, 3]
after: 2824366602112 [1, 2, 3, 4, 5]
012345

In [ ]:
# 4) Use multipe assignments

a=b=c=d =100
print(a,b,c,d)
a,b,c = 10,20,30 #TUPLE ASSIGNMENT
print(a,b,c)
d = 30,40,50
print(d)
a,b = 10, 20
print(a,b)
a,b = b,a
print(a,b)

100 100 100 100
10 20 30
(30, 40, 50)
10 20
20 10

In [2]:
# Q WAP TO FIND THE FIBONACCI SERIES OF NUMBER N FROM INPUT USING CONCEPT OF TUPLE ASSIGNMENT
a,b,c = 0,1,1

def fibo(n):
    a,b =0,1
    for  i in range (n):
        print(a, end=" ")
        a,b =b, a+b
   
fibo(10)

0 1 1 2 3 5 8 13 21 34

In [45]:
data =[1,2,3]
x,y,z= data
print(x,y,z)
a,b ,c= data
print(a,b,c)

1 2 3
1 2 3

In [1]:
tup=[1,2,3,4,5,6,7]
# first, *middle, last = tup
a, *b, c = tup
print(a, b,c)
a, *b, c = 1,2,3,4,5,6,7,8,9,0
print(a, b,c)

1 [2, 3, 4, 5, 6] 7
1 [2, 3, 4, 5, 6, 7, 8, 9] 0

In [5]:
#7 Use list and string multiplication
l1 = [0]*100 #or 100*0
print(len(l1))
print(l1)
l1 = [1,2,3]*20 #or 20*[1,2,3]
print(len(l1))
print(l1)
#Star cannot be used for dictionary or set
# set1 = {1,2,3}*3
# print(len(set1))
s = "-"*5
print (s)

100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
60
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
-----

In [ ]:
# 8) Returning multiple value
def fun1():
    a=5
    b=6
    c=7
    return a,b,c

x,y,z = fun1()
print(x,y,z)

5 6 7

In [17]:
import math
def rect(length, width):
    area = length*width
    peri = 2*(length+width)
    diog = math.sqrt(math.pow(length,2)+math.pow(width,2))
    return area, peri, diog

a,b,c = rect(10,5)
param = rect(10,5) #Stores value as tuple
print("Value stored as tuple", param, type(param))
print("Area of Rectangle is", a, 
      "\nPerimeter of Rectangle is", b, 
       "\nDiagonal of Rectangle is", c,  )

Value stored as tuple (50, 30, 11.180339887498949) <class 'tuple'>
Area of Rectangle is 50
Perimeter of Rectangle is 30
Diagonal of Rectangle is 11.180339887498949

In [38]:
# 9) loops and else keyword

for i in range(2,10):
    if(11%i==0):
        print(i,"is divisible by 11")
        break
       
else:
    print("No multiple of 121 found")

#Else will be executed if the if has a early break

No multiple of 121 found

In [45]:
s = ""
if len(s)==0:
    print("Empty String")

print("Is String Empty:", not s)

Empty String
Is String Empty: True

In [16]:
#Q WAP Check wheather the string in paliandrome or not


def paliandrome(str1):
    str1= str1.lower()
    print("Orignal String:", str1)
    slist = list(reversed(list(str1.lower())))
    print("Sring a list:", slist)
    s1 = "".join(slist)
    print("Reversed a list:", s1)
    print(" isPaliandrom:",str1 == s1)
    print("\n")

paliandrome("madap")
paliandrome("Malayalam")


def palishort(str1):
    print(" palishort:",str1.lower() == "".join(list(reversed(list(str1.lower())))))\
    
palishort("madap")
palishort("Malayalam")

Orignal String: madap
Sring a list: ['p', 'a', 'd', 'a', 'm']
Reversed a list: padam
 isPaliandrom: False


Orignal String: malayalam
Sring a list: ['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']
Reversed a list: malayalam
 isPaliandrom: True


 palishort: False
 palishort: True

In [ ]:
#Chained compare

print(10<40<90)

True

In [2]:
#Switch Case

def add(a,b):
    print(a+b)
def min(a,b):
    print(a-b)
def mul(a,b):
    print(a*b)
def div(a,b):
    print(a/b)

a = int(input("Enter a number"))
op = (input("Enter Operation"))
b = int(input("Enter a number"))

menu ={"+":add, "-":min, "*":mul, "/":div}
menu[op](a,b)

13

In [9]:
# Use is to check location

s1 = "iter"
s2 ="iter"
s3 ="Iter"
print(s1 is s2)
print(s1 is s3)

l1 = "it"
l2 = "er"
l3 = l1+l2

print(s1 is l3)

True
False
False

In [10]:
#Use one line for loop

for i in range (10) : print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [11]:
#Squueze multiple statement into one line using semicolon

a=10; b=20; print(a+b);

30

In [14]:
#If  else in on line

n = 20
result = "even" if n%2 ==0  else "odd"
print(result)

n = 21
result = "even" if n%2 ==0 else "odd"
print(result)

even
odd

In [17]:
#Create enum value with range
red, blue, green = range(3)
print(red, blue, green)
red, blue, green = range(1,4)
print(red, blue, green)

0 1 2
1 2 3

In [19]:
#Reduce ineffeiency in print

star = "*"*40
for i in range (20):
    print(star)

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [ ]:
str1 ="This is a String  to Solve a Question in python Programming"
chr1 = "" 
for i in str1:
    count=0
    if(ord(i)>70):
       for j in str1:
           if(j==i):
               count=count+1
        dict = {i:count}       
    # print(i,":", count)
print(dict)

{'g': 3}

In [71]:
str1 = "This is a String  to Solve a Question in python Programming"
char_count = {}

for i in str1:
    if ord(i) > 70:
        count = 0
        for j in str1:
            if j == i:
                count += 1
        char_count[i] = count
        print(char_count[i])
print(char_count)

1
2
6
3
6
3
3
2
4
3
6
5
3
4
5
2
5
1
1
2
3
1
1
2
3
4
6
5
5
6
5
1
1
4
2
5
5
1
3
5
3
3
3
2
2
6
5
3
{'T': 1, 'h': 2, 'i': 6, 's': 3, 'a': 3, 'S': 2, 't': 4, 'r': 3, 'n': 5, 'g': 3, 'o': 5, 'l': 1, 'v': 1, 'e': 2, 'Q': 1, 'u': 1, 'p': 1, 'y': 1, 'P': 1, 'm': 2}